[user]
	name = Mike Kelly
	email = mikekelly321@gmail.com

[alias]
    ll           = log --pretty=oneline --abbrev-commit --max-count=15
    wip          = !git add -u && git commit -m ...
    wipc         = !date >> WIP && git add WIP && git commit -m ...
    ci           = commit -v
    x            = checkout HEAD
    bv           = !git branch --color -v | cut -c1-100
    s            = status -sb -uno --ignore-submodules=untracked
    st           = status
    sa           = status -sb --ignore-submodules=untracked
    timeline     = log --oneline --graph --decorate
    ri           = rebase --interactive
    ra           = rebase --abort
    rc           = rebase --continue
    ffmain       = "!f() { dir=\"$(cd \"$(git rev-parse --git-common-dir)/..\" && pwd)\"; unset GIT_DIR; branch=$(git -C \"$dir\" rev-parse --abbrev-ref HEAD); if [ \"$branch\" = \"main\" ]; then git -C \"$dir\" pull --ff-only origin main; else echo \"main worktree is on $branch, not main\"; fi; }; f"
    ffmaster     = "!f() { dir=\"$(cd \"$(git rev-parse --git-common-dir)/..\" && pwd)\"; unset GIT_DIR; branch=$(git -C \"$dir\" rev-parse --abbrev-ref HEAD); if [ \"$branch\" = \"master\" ]; then git -C \"$dir\" pull --ff-only origin master; else echo \"main worktree is on $branch, not master\"; fi; }; f"


[core]
    filemode = true
    logallrefupdates = true
    whitespace = space-before-tab, trailing-space
    excludesfile = ~/.gitignore_global

[help]
    browser = open

[branch]
    autosetupmerge = true

[diff]
    renames = copies
    mnemonicprefix = true

[push]
    default = current

[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = mikekelly321@gmail.com

[color]
    ui = auto

[heroku]
	account = personal
[pull]
	rebase = true
