[submodule ".janus/vim-bufonly"]
	path = .janus/vim-bufonly
	url = https://github.com/duff/vim-bufonly.git
[submodule ".janus/vim-elixir"]
	path = .janus/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
